
@{
    ViewData["Title"] = "StudentInfo1";
}

<h2>StudentInfo1 using Page directive routing</h2>
<div class="row">
    <div class="col-sm-7">
        Id : @ViewData["id"]<br />
        Name : @ViewData["name"]<br />
    </div>
</div>

