@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-8">
            <a href="Home/StudnetView">Student view without authorization filter</a>
            <a href="Home/StudentViewSecure">Student view requiring authorization filter</a>
        </div>
    </div>
</div>