
@{
    ViewData["Title"] = "StudentInfo";
}

<h1>StudentInfo</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            @Html.Partial("LeftBar");
        </div>
        <div class="col-sm-9">
            This is the student info page
        </div>
    </div>
</div>